<li class="d-flex align-items-center border rounded mb-3 p-0">
    <a href="book.title">
        <img src="{{book.cover_image.url}}" width="115" height="115">
    </a>
    <div class="d-flex justify-content-between w-100 p-3">
        <div>
            <h5>Title: {{ book.title }}</h5>
            <ul>
                {% for author in book.authors.all%}
                <li>By: {{author.name}}</li>
                {%endfor%}
            </ul>
        </div>
        <h4 class="">Price: ${{book.price}}</h4>
    </div>
</li>
