{% extends 'base.html' %} {% block main %}
<div class="card-body">
    <main class="container mt-3">
        <div class="card p-3 border-maroon">
            <ul>
                <li>
                    <div class="d-flex justify-content-between">
                        <h1>{{ book.title }}</h1>
                        <a href="{% url 'book-update' book.id %}"><button type="button" class="btn bg-white border-maroon"
                                href="">Update</button></a>
                    </div>
                    <div>
                        {% for author in book.authors.all %}
                        <h3>by: {{ author.name }}</h3>
                        {% endfor %}
                    </div>
                    <hr>
                    <div>
                        <a href="book-list"><img class="shadow-lg" src="{{ book.cover_image.url}}" alt="" width='265'></a>
                    </div>
                    <div>
                        <hr>
                        <h4>Price: ${{ book.price }}</h4>
                        <br>
                        <h4>Description:
                            <hr> {{ book.description }}
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</div>
{{ book }} {% endblock main %}
