#navbar {
    background-color: rgb(155, 17, 84);
    border: 1px solid black;
    opacity: 0.8;
}
h1,
.color,
a,
button,
strong,
.btn {
    color: rgb(155, 17, 84);
}
.border-maroon {
    border: 5px solid rgb(155, 17, 84);
}
body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.background-maroon {
    background-color: rgb(155, 17, 84);
}
.text-maroon {
    color: rgb(155, 17, 84);
}
.card {
    opacity: 0.9;
}

.fancy-text {
    font-family: "Bad Script", cursive;
}
